.comments-view {
  min-width: 500px;
  max-width: 1000px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: #F9F9F9;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

  .comments-list {
    margin-bottom: 10px;
  }

}

